html{
  box-sizing:border-box;
}

*{
  margin:0;
  padding:0;
}
*,:after,:before{
  box-sizing:border-box;
}

::-moz-selection{
  background:#f02d00;
  color:#fff;
}

::selection{
  background:#f02d00;
  color:#fff;
}
body{
  color:#646464;
  font-family:Roboto,sans-serif;
  font-size:.75em;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-align:center;
      align-items:center;
  -ms-flex-pack:center;
      justify-content:center;
  height:100%;
}

body,table{
  width:100%;
}

table{
  border-collapse:collapse;
}

table tr td,table tr th{
  padding:.2em;
}

table thead tr{
  border-top:1px solid #bbb;
  border-bottom:1px solid #bbb;
}

table thead th{
  text-transform:uppercase;
  background:hsla(0,0%,73%,.2);
}

.title,table tfoot td:first-child{
  font-weight:700;
}

.title{
  font-size:1.4em;
}

.description{
  font-size:1em;
}
.clearfix:after{
  clear:both;
  content:"";
  display:table;
}
.container{
  max-width:1180px;
  margin-left:auto;
  margin-right:auto;
  padding-left:20px;
  padding-right:20px;
  width:100%;
}
.hide-text{
  text-indent:101%;
  white-space:nowrap;
}
.hide-text,.visually-hidden{
  overflow:hidden;
  padding:0;
}
.visually-hidden{
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  margin:-1px;
  position:absolute;
  width:1px;
}

.no-outline:focus{
  outline:0;
  outline-color:transparent;
  color:none;
  background-color:transparent;
  border-color:#ced4da;
  box-shadow:0 0 0 0;
}

.menu-user-header-p{
  padding:10% 7.5%;
}

.font-color-ligth{
  color:#fff;
}

.list-style{
  list-style:none;
  padding:0;
  margin:0;
}

.upper{
  text-transform:uppercase;
}

.lower{
  text-transform:lowercase;
}

.numeric{
  text-align:right;
  padding-right:1em;
}

.ticket{
  font-family:Roboto,sans-serif;
  box-sizing:border-box;
  -ms-flex-direction:column;
      flex-direction:column;
  background:#fefefe;
  line-height:1.4em;
  min-width:270px;
  width:370px;
  text-transform:uppercase;
}

.ticket .header{
  text-align:center;
}

.ticket .header,.ticket .header__logo{
  -ms-flex-pack:center;
      justify-content:center;
}

.ticket .header__logo{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-align:center;
      align-items:center;
}

.ticket .header__logo img{
  max-height:80px;
  max-width:300px;
}

.ticket .header__description{
  text-align:center;
  padding:5px;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
  font-size:-1.25em;
}

.ticket .header__description strong{
  padding:.2em 0;
}

.ticket .header__description .left{
  text-align:left !important;
}

.ticket .header__number{
  margin-top:.5em;
}

.body{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
}

.body table{
  margin-top:10px;
  margin-bottom:10px;
}

.footer{
  padding:5px;
}

.footer,.qr{
  text-align:center;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
}

.qr{
  margin:auto;
  text-transform:uppercase;
  -ms-flex-pack:center;
      justify-content:center;
}

.qr img{
  min-width:130px;
  max-width:130px;
}

.divider{
  font-size:.2em;
  content:"";
  white-space:nowrap;
  color:transparent;
}

.credits{
  position:fixed;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
  top:90%;
  left:10%;
  background:#222;
  padding:10px;
  text-align:center;
  color:#fff;
  line-height:1.5em;
}

.credits a{
  font-weight:700;
  color:#fefefe;
  text-decoration:none;
}

.credits a:focus,.credits a:hover{
  color:#ccc;
}

.pdf{
  text-transform:uppercase;
  width:960px !important;
  line-height:1.4em;
  font-size:1.1em;
}

.pdf>div{
  padding:.5em;
}

.pdf table{
  line-height:1.2em;
}

.pdf .header{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
}

.pdf .header,.pdf .header__logo{
  width:100%;
  -ms-flex-align:center;
      align-items:center;
  -ms-flex-pack:center;
      justify-content:center;
}

.pdf .header__logo img{
  width:100%;
}

.pdf .header__description{
  width:100%;
  line-height:1.2em;
}

.pdf .header__number{
  width:100%;
  padding:10px 0;
  font-size:1.2em;
  text-align:center;
  line-height:1.3em;
}

.pdf .header__number .title:nth-child(2){
  color:#fc4136;
}

@media screen and (min-width:750px){
  .pdf .header{
    max-height:150px;
    -ms-flex-direction:row;
        flex-direction:row;
  }
  .pdf .header__logo{
    width:200px;
  }
  .pdf .header__description{
    width:calc(100% - 400px);
    margin:0 .4em;
    padding:.5em;
  }
  .pdf .header__number{
    width:200px;
    border:1px solid #bbb;
  }
}

.pdf .body{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
      flex-direction:column;
}

.pdf .body table{
  margin-top:5px;
  margin-bottom:5px;
}

.pdf .info tr td:first-child,.pdf .info tr td:nth-child(3),.pdf .info tr td:nth-child(5),.pdf .info tr td:nth-child(7),.pdf .info tr td:nth-child(9){
  width:150px;
}

.pdf .details tr td{
  width:75%;
}

.pdf .qr{
  -ms-flex-direction:row !important;
      flex-direction:row !important;
  text-align:left !important;
}

.pdf .qr div{
  padding:0 .6em 0 0;
}

.pdf .qr div small{
  display:block;
}

@media print{
  .pdf>div{
    padding:0;
    width:100%;
  }
  .pdf .header{
    display:block;
  }
  .pdf .header>div{
    display:inline-block;
  }
  .pdf .header__logo{
    width:200px;
    height:100%;
    margin:auto;
  }
  .pdf .header__logo img{
    text-align:center;
    margin:auto;
  }
  .pdf .header__description{
    width:calc(100% - 400px);
  }
  .pdf .header__number{
    width:180px;
    border:1px solid #bbb;
  }
  .credits{
    display:none;
  }
}

/*# sourceMappingURL=style.css.map */
