body {
    color: $text-color;
    font-family: $text-font-stack;
    font-size: $font-size-texto;
    @include flexCenter;
    height: 100%;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    tr {
        td,
        th {
            padding: .2em;
        }
    }
    thead {
        tr {
            border-top: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
        }
        th {
            text-transform: uppercase;
            background: rgba($light-grey, .2);
        }
    }
    tfoot {
        td {
            &:nth-child(1) {
                font-weight: bold;
            }
        }
    }
}

.title {
    font-weight: bold;
    font-size: 1.4em;
}

.description {
    font-size: .8em;
    line-height: 1.1em;
    strong,
    span,
    small {
        display: block;
    }
}

.email,
.ruc {
    @extend .description;
    font-size: .9em !important;
    margin: 2px 0;
}