.pdf {
    text-transform: uppercase;
    width: 960px !important;
    line-height: 1.4em;
    font-size: 1.1em;
    >div {
        padding: .5em;
    }
    table {
        line-height: 1.2em;
    }
    .header {
        width: 100%;
        @include flexCenter;
        flex-direction: column;
        &__logo {
            width: 100%;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
            }
        }
        &__description {
            width: 100%;
            line-height: 1.2em;
        }
        &__number {
            width: 100%;
            padding: 10px 0 10px 0;
            font-size: 1.2em;
            text-align: center;
            line-height: 1.3em;
            .title {
                &:nth-child(2) {
                    color: #FC4136;
                }
            }
        }
        @include desde(750px) {
            max-height: 150px;
            flex-direction: row;
            &__logo {
                width: 200px;
            }
            &__description {
                width: calc( 100% - 400px);
                margin: 0 .4em 0 .4em;
                padding: .5em;
            }
            &__number {
                width: 200px;
                border: 1px solid $light-grey;
            }
        }
    }
    .body {
        display: flex;
        flex-direction: column;
        table {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .info {
        tr {
            td {
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5),
                &:nth-child(7),
                &:nth-child(9) {
                    width: 150px;
                }
            }
        }
    }
    .details {
        tr {
            td {
                width: 75%;
            }
        }
    }
    .qr {
        flex-direction: row !important;
        text-align: left !important;
        div {
            padding: 0 .6em 0 0;
            small {
                display: block;
            }
        }
    }
}