@media print {
    .ticket {}
    .pdf {
        >div {
            padding: 0;
            width: 100%;
        }
        .header {
            display: block;
            >div {
                display: inline-block;
            }
            &__logo {
                width: 200px;
                height: 100%;
                margin: auto;
                img {
                    text-align: center;
                    margin: auto;
                }
            }
            &__description {
                width: calc( 100% - 400px);
            }
            &__number {
                width: 180px;
                border: 1px solid $light-grey;
            }
        }
    }
    .credits {
        display: none;
    }
}