.ticket {
    font-family: $text-font-stack;
    box-sizing: border-box;
    flex-direction: column;
    background: #fefefe;
    line-height: 1.4em;
    min-width: 300px;
    width: 390px;
    text-transform: uppercase;
    .header {
        text-align: center;
        justify-content: center;
        &__logo {
            @include flexCenter;
            img {
                max-height: 80px;
                max-width: 300px;
            }
        }
        &__description {
            text-align: center;
            padding: 5px;
            display: flex;
            flex-direction: column;
            font-size: $font-size-texto - 2;
            strong {
                padding: .2em 0em;
            }
            .left {
                text-align: left !important;
            }
        }
        &__number {
            margin-top: 0.5em;
        }
    }
}

.body {
    display: flex;
    flex-direction: column;
    table {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.footer {
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.qr {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    img {
        min-width: 130px;
        max-width: 130px;
    }
}

.divider {
    font-size: .2em;
    content: "";
    white-space: nowrap;
    color: transparent;
}

.credits {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 90%;
    left: 10%;
    background: #222222;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    line-height: 1.5em;
    a {
        font-weight: bold;
        color: #fefefe;
        text-decoration: none;
        &:hover,
        &:focus {
            color: #cccccc;
        }
    }
}

@media print {
    body {
        display: block;
    }
    .ticket {
        width: 100%;
        padding: 0px;
    }
    .credits {
        display: none;
    }
}