.ticket__footer
    small Autorizado mediante resolución N°1055/SUNAT.
    small Consulte la válidez de este comprobante en <a href="http://e-facturas.delusa.pe/">e-facturas.delusa.pe</a>
    br
    strong ~ DIMEXSA ~
    address Gracias por tu preferencia