- var ColSpan = "3";
.header
    .header__logo
        img(src="images/logo.png")
    .header__description
        .title DIMEXSA S.A.C.
        .ruc RUC: 20360945325
        .description
            strong Dirección Fiscal:
            span  Auxiliar Panamericana Nte. 439, Chimbote - Santa - Ancash
        .description   
            strong Sucural:
            span  Auxiliar Panamericana Nte. 439, Chimbote - Santa - Ancash
        .email dimexsa.msn.com - 999999999
    .header__number
        .title Boleta de Venta Electrónica
        .title B001-00000001