- var ColSpan = "3";
.ticket__header
    .ticket__header-logo
        img(src="images/logo.png")
    .ticket__header-description
        .title DIMEXSA S.A.C.
        small.description RUC: 20360945325
        .description
            strong Dirección Fiscal:
            span  Auxiliar Panamericana Nte. 439, Chimbote - Santa - Ancash
        .description   
            strong Punto de venta:
            span  Auxiliar Panamericana Nte. 439, Chimbote - Santa - Ancash
        .description dimexsa.msn.com - 999999999
        .divider divider
        .title Factura electrónica
        .title F001-00000001