- var ColSpan = "3";
.ticket__header
    .ticket__header-logo
        img(src="images/dimexsa.png")
    .ticket__header-description
        strong DIMEXSA S.A.C.
        small RUC: 20360945325
        small Auxiliar Panamericana Nte. 439, Chimbote
        span(class="ticket-number") Factura electrónica
        strong F001-00000001