- var ColSpan = "3";
.header
    .header__logo
        img(src="images/logo.png")
    .header__description
        .title DIMEXSA S.A.C.
        small.description RUC: 20360945325
        .description
            strong Dirección Fiscal:
            span  Auxiliar Panamericana Nte. 439, Chimbote - Santa - Ancash
        .description   
            strong Punto de venta:
            span  Auxiliar Panamericana Nte. 439, Chimbote - Santa - Ancash
        .description dimexsa.msn.com - 999999999
    .header__number
        .title Factura electrónica
        .title F001-00000001