extends ../structure/_invoice
block content
    .body
        table(class="info")
            tr
                td
                    strong Fecha
                td : 04-06-2019
                td
                    strong Hora
                td : 23:00
            tr
                td
                    strong DNI/RUC
                td(colspan="3") : 10701296767
            tr
                td 
                    strong RAZÓN SOCIAL
                td(colspan="3") : Alexander Estevan Tume Naquiche
            tr
                td
                    strong Dirección
                td(colspan="3") : Amp. Nueva Generación Mz B Lte 3
        table(class="details")
            thead
                tr
                    th Producto
                    th(class="numeric") Cant.
                    th(class="numeric") U.Med.
                    th(class="numeric") Precio
                    th(class="numeric") Importe
            tbody
                tr
                    td SERVICIO DE TRANSPORTE DE GASOHOL 90 CALLAO - CAÑETE
                    td(class="numeric") 2.000
                    td(class="numeric") GLI
                    td(class="numeric") 10.00
                    td(class="numeric") 20.00
                tr
                    td GASOHOL 90
                    td(class="numeric") 2.000
                    td(class="numeric") GLI
                    td(class="numeric") 10.00
                    td(class="numeric") 20.00
                
                tr
                    td(class="divider" colspan="5") divider
            tfoot
                tr
                    td(colspan="2" rowspan="1") Op. Gravadas
                    td(colspan="1" rowspan="1") S/
                    td(colspan="2" rowspan="1" class="numeric") 12.71
                tr
                    td(colspan="2" rowspan="1") I.G.V. (18%)
                    td(colspan="1" rowspan="1") S/
                    td(colspan="2" rowspan="1" class="numeric") 2.29
                tr
                    td(colspan="2" rowspan="1") Importe Venta
                    td(colspan="1" rowspan="1") S/
                    td(colspan="2" rowspan="1" class="numeric") 15.00
        table(class="info")
            tbody
                tr
                    td(colspan="1" style="width: 100px;")
                        strong SON
                    td(colspan="4") : QUINCE 00/100 SOLES
                tr
                    td
                        strong  USUARIO
                    td(colspan="2") : TUNAQUI
                    td
                        strong TURN0
                    td : 01
                tr
                    td
                        strong  PLACA
                    td(colspan="2") : ---
                    td
                        strong LADO
                    td : A
    .qr
        div
            img(src="images/qr.png", alt="Representación impresa")
        div
            small Representación impresa de la factura electrónica.
            small Autorizado mediante resolución N°1055/SUNAT.
            small Consulte la válidez de este comprobante en <a href="https://e-consulta.sunat.gob.pe/ol-ti-itconsvalicpe/ConsValiCpe.htm">e-consulta.sunat.gob.pe/ol-ti-itconsvalicpe/ConsValiCpe.htm</a>